.simpleButton {
  background-color: #32617d;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.simpleButton:hover{
cursor: pointer;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
.simpleButton:active{
  background-color: #3d779b;
}

.accentButton {
  background-color: #c93a1d;;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  font-family: SegoeUI;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.accentButton:hover{
cursor: pointer;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.accentButton:active{
  border: solid 1px #ffffff;
  }

.disableButton {
  background-color: #949494;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
opacity: 0.6;
cursor: not-allowed;
}
.circularButton{
  border-radius: 100%;
  padding: 10px 10px;
  background-color: #120175;
}
.circularButton:hover{
  background-color: #0e93ff;
  cursor: pointer;
}
.circularButton:active{
  background-color: #ffffff;
}

.dd {
  background-color: #32617d;
  color: white;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  font-family: SegoeUI;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.dd:hover {
  cursor: pointer;
  background-color: #62a9d3;
}